.itemCard {
    display: table-caption !important;
    padding: 2vh 2vh 2vh 2vh !important;
    width: -webkit-fill-available !important;
}

.itemImage {
    width: 150px !important;
    height: 150px !important;
}