.itemCard {
    flex: 1;
    width: fit-content;
    align-items: center;
    align-content: center;
}

.itemDetailCard {
    flex-direction: row !important;
}

.itemImageCart {
    height: 80px !important;
    width: 80px !important;
}