.jumbotron {
    background: url('https://firebasestorage.googleapis.com/v0/b/mascot-app-e426a.appspot.com/o/jumbo-pets.jpg?alt=media&token=0173d376-b22e-4ea8-ae9f-57aa668cee75');
    background-size: cover;
    position: relative;
    color: #FF9B66;
}